    body {
      background-image: url("../media/images/radio.jpg");
    }

/* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

/* Add a gray background color and some padding to the footer */
    #infobutton {
      width:101.45px;
      height:34px;
      position:relative;
      left:21%;
      top:290px;
    }

    #quizbutton {
      width:101.45px;
      height:34px;
      position:relative;
      left:70%;
      top:250px;
    }

    header {
      text-align: center;
    }

    .shake {
      color:black;
      font-size:50pt;
      position:relative;
      text-align:center;
    }

    a {
      color:white;
    }

    a:hover {
      color:black;
    }

    td {
      padding-right:150px;
      padding-bottom:10px;
    }

    footer {
      background-color:#47525E;
      position:fixed;
      width:100%;
      bottom:0px;
      padding: 25px;
    }