body {
  background-image: url("../../media/images/landing_bg.jpg");
  background-size: 100%;

}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
.button {
background-color: #555555;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
width: 200px;
height: 100px;
}
/* Add a gray background color and some padding to the footer */
#infobutton {
  left:-300px;
  top:250px;
  z-index:100;
}

#quizbutton {
  left:300px;
  top:140px;
}

header {
  text-align: center;
}

.shake {
  color:black;
  font-size:50pt;
  position:relative;
  text-align:center;
}

a {
  color:white;
}

a:hover {
  color:black;
}

footer {
  color:white;
  background-color:#47525E;
  position:fixed;
  width:100%;
  bottom:0px;
  padding: 15px;
}

@media screen and (max-width:500px) {
  body {

  }
}
