body {
	background: url("../../media/images/background.jpg") no-repeat center center fixed;
    background-size:cover;
    -webkit-background-size: cover; 
    -moz-background-size: cover;    
	-o-background-size: cover;
	overflow-x: hidden;
}

::-webkit-scrollbar { 
    display: none; 
}

.whiteout {
	display: block;
	margin: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 1;
	z-index: -10;
}

.whitein {
	background-color: white;
	margin:0;
	position: fixed;
  	top: 0;
  	left: 0;
  	bottom:0;
  	right:0;
	z-index: 100;
	opacity: 0;
	-webkit-transition: opacity 6s ease-in;
    -moz-transition: opacity 6s ease-in;
    -ms-transition: opacity 6s ease-in;
    -o-transition: opacity 6s ease-in;
    transition: opacity 6s ease-in;
}

#before-quiz {
	position:relative;
	top:10px;
}



.article1 {
	float:left;
	padding-left:40px;
	
	width:40%;
	
	/* 
	border-right:1px solid;
	padding-right:40px;
	*/
}

.article2 {
	float:right;
	padding-right:20px;
	padding-left:20px;
	width:43.9%;
}

.article3 {
	/*
	border-top:1px solid;
	border-bottom:1px solid;
	*/
	float:right;
	padding-right:20px;
	padding-left:20px;
	width:43.9%;
}

.above_text {
	position:relative;
	top:10px;
}

.p11 {
	position:relative;
	top:20px;
}

#magazine{
	margin:0 auto;
	width:1152px;
	height:700px;
	font-family: 'Playfair Display', serif;
	position:relative;
}

#magazine .turn-page{
	background-color:#ccc;
	background-size:100% 100%;
}

h1, h2, h5{
	text-align: center;

}

header {
	text-align:center;
}

p {
	position:relative;
	bottom:10px;
}

a {
	color:white;
	text-decoration: none;
}

.title_pic {
	width:536px;
	margin-left:20px;
}

footer {
	margin-left:20px;
	margin-right:20px;
	text-align: center;
}

#start-quiz { margin-left:45%; }

#quiz { display:none; }


#img1{
	width: 500px;
	margin-top: 15px;
	margin-left: 35px;
	border-width: thin;
	border-style: solid;
}
#vid1{
	width: 400px;
	margin-left: 50px;
	margin-top: 20px;
}

#quizbutton{
	position:relative;
	top:300px;
	float:right;
	margin-right:40%;
	width: 100px;
	height: 50px;


	font-size: 14px;
	font-weight:bold;

	color: white;


	border: none;

	background-color: #555555;
	background-color: rgba(71, 82, 94, 0.6);
}

img {
	width:100%;
}

audio {
	opacity: 0.6;
}

.head_through {
	text-align:center;
}

.gif {
	width:800px;
	position:relative;
	right:340px;
	bottom:280px;
	transform:rotate(41deg);
}

.ashtray {
	width:150px;
}

.cigar {
	position:relative;
	right:50px;
}

.container {
	position:absolute;
	right:0;
	width:100px;
	height:702px;
	z-index: 3;
}

@media screen and (min-width:1440px) { 
	#magazine { margin-left:auto; margin-right:auto; }
}

@media screen and (max-width:1440px) { #magazine { margin-left:0; margin-right:auto; } .cigar { right:0px; } .gif { width:700px; bottom:240px; right:315px; } .ashtray { width:100px; } }