body{
	background:#ccc;
}

.article1 {
	float:left;
	padding-left:40px;
	
	width:40%;
	
	/* 
	border-right:1px solid;
	padding-right:40px;
	*/
	

}

.article2 {
	float:right;
	padding-right:20px;
	padding-left:20px;
	width:43.9%;
}

.article3 {
	/*
	border-top:1px solid;
	border-bottom:1px solid;
	*/
	float:right;
	padding-right:20px;
	padding-left:20px;
	width:43.9%;
}

.above_text {
	position:relative;
	top:10px;
}

.p11 {
	position:relative;
	top:20px;
}

#magazine{
	width:1152px;
	height:700px;
	font-family: 'Playfair Display', serif;
}
#magazine .turn-page{
	background-color:#ccc;
	background-size:100% 100%;
}
h1, h2, h5{
	text-align: center;

}

header {
	text-align:center;
}

p {
	position:relative;
	bottom:10px;
}

a {
	color:white;
	text-decoration: none;
}

.title_pic {
	width:536px;
	margin-left:20px;
}

footer {
	margin-left:20px;
	margin-right:20px;
	text-align: center;
}


#img1{
	width: 500px;
	margin-top: 15px;
	margin-left: 35px;
	border-width: thin;
	border-style: solid;
}
#vid1{
	width: 400px;
	margin-left: 50px;
	margin-top: 20px;
}

#quizbutton{
	position:relative;
	top:300px;
	float:right;
	margin-right:40%;
	width: 100px;
	height: 50px;


	font-size: 14px;
	font-weight:bold;

	color: white;


	border: none;

	background-color: #555555;
	background-color: rgba(71, 82, 94, 0.6);
}

img {
	width:100%;
}

audio {
	opacity: 0.6;
}

.head_through {
	text-align:center;
}